<link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>">
<div id="user-chat-box">
    <ul id="chat-message-list">
        <li class="other-message">
            <span>Other Message</span>
        </li>
        <li class="self-message">
            <span>Self Message</span>
        </li>

    </ul>

    
    <div id="chat-message-input-container">
        <input id="chat-message" type="text" name="message" placeholder="Message" required>
        <button id="send-message" >Send</button>
    </div>
</div>