<%- include('./_header.ejs')%>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    </head>
    <body>
        <h1>Sign In</h1>

        <form action="/users/create-session" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Sign In">
        </form>

        <p>
            <a href="/users/auth/google">Google Sign In/Sign Up</a>
        </p>
        
    </body>
    <script>
        <% if(flash.error && flash.error.length > 0 ) { %>
        new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1500
        }).show();
    <% } %>
    </script>
</html>