footer{
    background-color: grey;
    display: flex;
    line-height: 60px;
    div{
        margin-left: 20px;
        a{
            margin: 0px;
            text-decoration: none;
            font-size: 22px;
        }
    }
   
}