li.post{
    background-color: whitesmoke;

    a.toggle{
        //background-color: white;
        //border: none;
        
        img{
        width: 28px;
        height: 25px;
        
        }

    }

}